@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 1px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-100 rounded-xl;
}

.custom-select {
  min-height: auto !important;
}

.sidebar-menu .active button {
  color: white;
  background-color: #273b4d;
}

.sidebar-menu button img.blanc {
  visibility: hidden;
}

.sidebar-menu .active button img.gris {
  visibility: visible;
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0; /* To ensure no additional spacing between cells */

  /* Apply border radius to the whole table */
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden; /* To clip the rounded corners */
}

.custom-table thead th:first-child {
  border-top-left-radius: 10px !important;
}

.custom-table thead .first-head th:first-child {
  background-color: #000 !important;
}

.custom-table thead .second-head th {
  background-color: #4b4b4b !important;
  color: white !important;
  border-right: 0.5px solid #d6d3d1;
}
