@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 1px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-100 rounded-xl;
}

.custom-select {
  min-height: auto !important;
}

.sidebar-menu .active button {
  color: white;
  background-color: #273b4d;
}

.sidebar-menu button img.blanc {
  visibility: hidden;
}

.sidebar-menu .active button img.gris {
  visibility: visible;
}